{% extends "base/layout.html" %} {% block body %}
<div class="flex flex-col gap-2 py-4 md:flex-row md:items-center print:hidden">
  <div class="grow">
    <h5 class="text-16">Customer List</h5>
  </div>
</div>
<div class="card" id="customerList">
    <div class="card-body">
        <div class="grid grid-cols-1 gap-5 mb-5 lg:grid-cols-2  xl:grid-cols-12">
            <div class="xl:col-span-3">
                <div class="relative">
                    <input type="text" class="ltr:pl-8 rtl:pr-8 search form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Search for ..." autocomplete="off">
                    <i data-lucide="search" class="inline-block size-4 absolute ltr:left-2.5 rtl:right-2.5 top-2.5 text-slate-500 dark:text-zink-200 fill-slate-100 dark:fill-zink-600"></i>
                </div>
            </div>
           
            <!-- <div class="xl:col-span-2"> -->
                <div class="relative">
                    <button type="button" class="flex dropdown_toggle items-center justify-center size-[37.5px] p-0 text-sky-500 btn bg-sky-100  hover:bg-sky-600 focus:text-white focus:bg-sky-600 focus:ring focus:ring-sky-100 active:text-white active:bg-sky-600 active:ring active:ring-sky-100 dark:bg-sky-500/20 dark:text-sky-400 dark:hover:bg-sky-500 dark:hover:text-white dark:focus:bg-sky-500 dark:focus:text-white dark:active:bg-sky-500 dark:active:text-white dark:ring-sky-400/20  dropdown-toggle btn bg-custom-500 border-custom-500 hover:text-white hover:bg-custom-600 hover:border-custom-600  focus:bg-custom-600 focus:border-custom-600 focus:ring-custom-100 active:bg-custom-600 active:border-custom-600  active:ring-custom-100 " id="dropdownMenuButton" data-bs-toggle="dropdown"><i data-lucide="sliders-horizontal" class="size-4"></i></button>

                    <ul class="absolute z-50 hidden py-2 mt-1 list-none bg-white rounded-md shadow-md ltr:text-left rtl:text-right dropdown_menu min-w-max dark:bg-zink-600" aria-labelledby="dropdownMenuButton">
                        <li>
                            <a class="block px-4 py-1.5 text-base font-medium transition-all duration-200 ease-linear text-slate-600 dropdown-item hover:bg-slate-100 hover:text-slate-500 focus:bg-slate-100 focus:text-slate-500 dark:text-zink-100 dark:hover:bg-zink-500 dark:hover:text-zink-200 dark:focus:bg-zink-500 dark:focus:text-zink-200" href="#!">Diamond User</a>
                        </li>
                        <li>
                            <a class="block px-4 py-1.5 text-base font-medium transition-all duration-200 ease-linear text-slate-600 dropdown-item hover:bg-slate-100 hover:text-slate-500 focus:bg-slate-100 focus:text-slate-500 dark:text-zink-100 dark:hover:bg-zink-500 dark:hover:text-zink-200 dark:focus:bg-zink-500 dark:focus:text-zink-200" href="#!">Gold User</a>
                        </li>
                        <li>
                            <a class="block px-4 py-1.5 text-base font-medium transition-all duration-200 ease-linear text-slate-600 dropdown-item hover:bg-slate-100 hover:text-slate-500 focus:bg-slate-100 focus:text-slate-500 dark:text-zink-100 dark:hover:bg-zink-500 dark:hover:text-zink-200 dark:focus:bg-zink-500 dark:focus:text-zink-200" href="#!">Silver User</a>
                        </li>
                       
                    </ul>
                </div>
                 <div class="lg:col-span-2 ltr:lg:text-right rtl:lg:text-left xl:col-span-2 xl:col-start-11">
                <!-- <button type="button" onclick="selectTemplate()" class="text-white btn bg-custom-500 border-custom-500 hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-100 dark:ring-custom-400/20"><span class="align-middle">Add Template</span></button> -->
                <button type="button" class="text-white  btn bg-custom-500 border-custom-500 hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-100 dark:ring-custom-400/20">Add Template</button>
            </div>
        <!-- </div> -->
        </div>

        <div class="overflow-x-auto">
            <table class="w-full whitespace-nowrap" id="customerTable">
                <thead class="bg-slate-100 dark:bg-zink-600">
                    <tr>
                        <th class="px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500" scope="col" style="width: 50px;">
                            <input class="border rounded-sm appearance-none cursor-pointer size-4 bg-slate-100 border-slate-200 dark:bg-zink-600 dark:border-zink-500 checked:bg-custom-500 checked:border-custom-500 dark:checked:bg-custom-500 dark:checked:border-custom-500 checked:disabled:bg-custom-400 checked:disabled:border-custom-400" type="checkbox" id="checkAll" value="option">
                        </th>
                        <th class="sort px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right" data-sort="customer_name">Customer</th>
                        <th class="sort px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right" data-sort="email">Email</th>
                        <th class="sort px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right" data-sort="phone">Phone</th>
                    </tr>
                </thead>
                <tbody class="list form-check-all">
                    {%for customer_detail in customer_details%}
                    <tr>
                        <th class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500" scope="row">
                            <input class="rowchk border rounded-sm appearance-none cursor-pointer size-4 bg-slate-100 border-slate-200 dark:bg-zink-600 dark:border-zink-500 checked:bg-custom-500 checked:border-custom-500 dark:checked:bg-custom-500 dark:checked:border-custom-500 checked:disabled:bg-custom-400 checked:disabled:border-custom-400" type="checkbox" data-id="{{customer_detail.id}}" data-name="{{customer_detail.name}}" data-number="{{customer_detail.mobile_no}}" name="chk_child">
                        </th>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500 id" style="display:none;"><a href="javascript:void(0);" class="fw-medium link-primary id">#VZ2101</a></td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500 customer_name">{{customer_detail.name}}</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500 email">{{customer_detail.email}}</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500 phone">{{customer_detail.mobile_no}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            <div class="noresult" style="display: none">
                <div class="text-center p-7">
                    <h5 class="mb-2">Sorry! No Result Found</h5>
                    <p class="mb-0 text-slate-500 dark:text-zink-200">We've searched more than 150+ Orders We did not find any orders for you search.</p>
                </div>
            </div>
        </div>
        <div class="flex justify-end mt-4">
            <div class="flex gap-2 pagination-wrap">
                <a class="inline-flex items-center justify-center bg-white dark:bg-zink-700 h-8 px-3 transition-all duration-150 ease-linear border rounded border-slate-200 dark:border-zink-500 text-slate-500 dark:text-zink-200 hover:text-custom-500 dark:hover:text-custom-500 hover:bg-custom-50 dark:hover:bg-custom-500/10 focus:bg-custom-50 dark:focus:bg-custom-500/10 focus:text-custom-500 dark:focus:text-custom-500 [&.active]:text-custom-500 dark:[&.active]:text-custom-500 [&.active]:bg-custom-50 dark:[&.active]:bg-custom-500/10 [&.active]:border-custom-50 dark:[&.active]:border-custom-500/10 [&.active]:hover:text-custom-700 dark:[&.active]:hover:text-custom-700 [&.disabled]:text-slate-400 dark:[&.disabled]:text-zink-300 [&.disabled]:cursor-auto page-item pagination-prev " href="javascript:void(0)">
                    <i class="mr-1 size-4 rtl:rotate-180" data-lucide="chevron-left"></i> Prev
                </a>
                <ul class="flex gap-2 mb-0 pagination listjs-pagination"></ul>
                <a class="inline-flex items-center justify-center bg-white dark:bg-zink-700 h-8 px-3 transition-all duration-150 ease-linear border rounded border-slate-200 dark:border-zink-500 text-slate-500 dark:text-zink-200 hover:text-custom-500 dark:hover:text-custom-500 hover:bg-custom-50 dark:hover:bg-custom-500/10 focus:bg-custom-50 dark:focus:bg-custom-500/10 focus:text-custom-500 dark:focus:text-custom-500 [&.active]:text-custom-500 dark:[&.active]:text-custom-500 [&.active]:bg-custom-50 dark:[&.active]:bg-custom-500/10 [&.active]:border-custom-50 dark:[&.active]:border-custom-500/10 [&.active]:hover:text-custom-700 dark:[&.active]:hover:text-custom-700 [&.disabled]:text-slate-400 dark:[&.disabled]:text-zink-300 [&.disabled]:cursor-auto page-item pagination-next" href="javascript:void(0)">
                    Next <i class="ml-1 size-4 rtl:rotate-180" data-lucide="chevron-right"></i>
                </a>
            </div>
        </div>
        
    </div>
</div>
<script>document.addEventListener("DOMContentLoaded", function() {
    var dropdownToggle = document.querySelector(".dropdown_toggle");
    var dropdownMenu = document.querySelector(".dropdown_menu");

    dropdownToggle.addEventListener("click", function(event) {
        event.stopPropagation();
        dropdownMenu.classList.toggle("hidden");
    });

    document.addEventListener("click", function(event) {
        var isClickInsideDropdown = dropdownToggle.contains(event.target) || dropdownMenu.contains(event.target);
        if (!isClickInsideDropdown && !dropdownMenu.classList.contains("hidden")) {
            dropdownMenu.classList.add("hidden");
        }
    });
});


</script>
{%endblock%}
